html,
body {
  box-sizing: border-box !important;
  height: 100%;
}

.j-shadow {
  z-index: 9999;
  box-shadow: 2px 2px 6px -1px rgba(133, 132, 132, 0.5);
  -webkit-box-shadow: 2px 2px 6px -1px rgba(133, 132, 132, 0.5);
  -moz-box-shadow: 2px 2px 6px -1px rgba(133, 132, 132, 0.5);
}

.j-sidebar {
  background-color: #fafbfc !important;
  border-right: 1px solid #e6e6e6 !important;
}

.j-chapters {
  height: 100vh;
  overflow-y: scroll;
}

.fa-xmark:hover{
  cursor: pointer;
  opacity: 60%;
}
